body{
    background-color: rgb(250, 217, 229);
    margin: 5%;
}

header{
    color: rgb(228, 228, 228);
    background-color: rgb(68, 68, 68);
    padding: 10px;
    text-align: center;
}

a{
    display: block;
    color: rgb(22, 22, 22);
    /* width: 100px; */
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 17.5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: none;
}

article{
    background-color: rgb(255, 180, 205);
    width: 220px;
    padding: 15px;
    /* height: 100px; */
    margin-inline: 5%;
    float: left;
    position: fixed;
}

#image{
    border-radius: 100px;
    width: 175px;
    border: 1px solid black;
}

h1{
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2{
    font-size: 18px;
    padding-top: 0px;
    /* margin-top: 8px; */
    margin-left: 50px;
    margin-bottom: 0px;
}

#name{
    margin: 0;
    font-size: 30px;
}

p{
    font-size: 20px;
    margin-top: 0px;
}

#name_title{
    margin: 0px;
}

#location{
    margin: 0px;
    margin-top: 14px;
    font-size: 17px;
}

.subheading{
    font-weight: bold;
    margin-left: 30px;
    font-size: 25px;
}


#education_div{
    float: left;
    padding: 0px;
    margin: 0;
    width: 50%;
}

#certification_div{
    float: right;
    padding: 0px;
    margin: 0px;
    width: 40%;
    margin-top: 30px;
    margin-left: 10px;
}

.left{
    margin-left: 400px;
}

#projects{
    margin-top: 690px;
}

#contact{
    margin-top: 500px;
}

.certification{
    margin-bottom: 0;
    margin-top: 0;
}

.skills{
margin-bottom: 20px;
}

#tools{
    float: left;
    margin-top: 0;
}

#other{
    float: right;
    margin-top: 0;
    font-size: 20px; 
    margin-top: 0px;
}

img{
    border-radius: 50px;
    width: 350px;
    /* border: black solid 2px; */
    margin-top: 0px;
    padding-top: 0px;
}

.project{
    float: inline-start;
    width: 350px;
    margin-inline: 20px;
    height: 430px;
    border: black solid;
    border-radius: 54px;
}

#about{
    margin-top: 0px;
}

#newarticle{
    display: none;
}
.top{
    display: inline;
    margin-inline: 5%;
}

@media screen and (max-width:1660px) {
    .skills{
        display: block;
        width: 250px;
        float: none;
    }
    #tools{
        display: block;
    }
    #projects{
        display: block;
        /* margin-top: 800px; */
    }
    /* #certification_div{
        float: none;
    } */
    #tools{
        float: none;
    }
    #other{
        float: none;
    }
    
}

@media screen and (max-width:1470px) {
    body{
        margin: 0px;
    }
    .left{
        margin-left: 0px;
        margin-inline:70px
    }
    #about{
        margin-top: 70px;
    }
    article{
        display: none;
    }

    #newarticle{
        display: block;
        position: fixed;
        background-color: rgb(255, 180, 205);
        width: 100%;
        height: 130px;
        margin: 0px;
        padding: 15px;
    }
    #certification_div{
        margin-top: 230px;
        float: none;
        width: 100%;
    }
    #education_div{
        float: none;
        display: block;
        width: 100%;
    }
    #tools{
        float: left;
    }
    #other{
        float: left;
        margin-inline: 50px;
    }
    #projects{
        margin-top: 50px;
    }
    .project{
        margin: 10px;
    }

}

@media screen and (max-width:855px) {
    #contact{
        margin-top: 900px;
    }
    .project{
        margin-inline: 13%;
    }
}

@media screen and (max-width:1923px){
    #other{
        margin-bottom: 0px;
    }
}

@media screen and (1471px <= width <= 1961px){
    #projects{
        margin-top: 1000px;
    }
}

@media screen and (max-width:585px) {
    #certification_div{
        margin-top: 70px;
    }
    #other{
        float: none;
        margin-inline: 0px;
    }
    #tools{
        float: none;
    }
}