body{
    background-color: rgb(61, 61, 61);
}

#calculator{
    background-color: rgb(214, 214, 214);
    /* height:  440px; */
    width: 280px;
    border: 10px rgb(184, 184, 184) solid;
    border-right:10px solid rgb(158, 158, 158);
    border-bottom:10px solid rgb(128, 128, 128);
    border-radius: 15px;
    margin: auto;
    margin-top: 20vh;
}

#answer{
    background-color: white;
    /* border: rgb(202, 202, 202) 3px solid; */
    height: 80px;
    width: 180px;
    border-radius: 8px;
    margin: 5px;
    margin-top: 0px;
    margin-left: 85px;
    color: rgb(65, 65, 65);
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;

}

#answer_number{
    margin-top: 20px;
    padding-top: 19px;
}

.button{
    width: 60px;
    height: 64px;
    margin: 5px;
    margin-left: 0;
    border: none;
    border-radius: 5px;
    color: rgb(66, 66, 66);
    font-weight: bolder;
    font-size: large;
    padding: 0px;
}

#enter_button{
    width: 64px;
    height: 138px;
    float: right;
    margin-right: 7px;
}

#buttons{
    margin: 3px;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(250, 250, 250);
    border-left: 5px solid rgb(207, 207, 207);
    border-bottom: 5px solid rgb(189, 189, 189);
    padding-right: 5px;
    padding-top: 5px;
}

.button:active{
    background-color: rgb(207, 207, 207);
}

#clear{
    float: left;
    margin-left: 10px;
    text-align: center;
    margin-top: 20px;
    height: 75px;
    border-radius: 6px;
    /* background-color: rgb(238, 238, 238); */
}

#clearbutton{    
    width: 67px;
    height: 75px;
    margin: 5px;
    margin-left: 0;
    border: none;
    border-radius: 5px;
    color: rgb(66, 66, 66);
    font-weight: bolder;
    font-size: large;
    padding: 0px;
    padding-top: 5px;
}

#clearbutton:hover{
    cursor: pointer;
    border-left: 5px solid rgb(207, 207, 207);
    border-bottom: 5px solid rgb(189, 189, 189);
    padding-right: 5px;
    padding-top: 5px;
}