body{
    background-color: rgb(255, 255, 255);
    margin: 5%;
}

header{
    color: rgb(228, 228, 228);
    background-color: rgb(68, 68, 68);
    padding: 10px;
    text-align: center;
}

button{
    /* display: inline; */
    color: rgb(255, 255, 255);
    width: 100px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

article{
    background-color: rgb(214, 214, 214);
    width: 175px;
    padding: 15px;
    /* height: 100px; */
    margin-inline: 5%;
    float: left;
}

img{
    border-radius: 100px;
    width: 175px;
    border: 1px solid black;
}

h1{
    font-size: 23px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2{
    font-size: 18px;
    padding-top: 0px;
    margin-top: 8px;
}